CONFIG_IDF_TARGET="esp32s2"
CONFIG_ESP_CONSOLE_USB_CDC=y
CONFIG_CONSOLE_UART_NUM=-1
CONFIG_BOOTLOADER_LOG_LEVEL_WARN=y
CONFIG_BOOTLOADER_LOG_LEVEL=2
CONFIG_DEBUG=y
CONFIG_FREQUENCIA_DE_INICIALIZACAO=5
CONFIG_NOME_DO_PROJETO = "Projeto do Carlos"
